@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.HomePage{
    /* background-image: url(img/bgimg.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    background-color: #272727;
}

/* .HomePage :is(h4, h1){
    font-family: 'Roboto', sans-serif;
} */
.HomePage h4{
    font-family: 'Roboto', sans-serif;
}

.head-jtj{ 
    border-bottom: 1px solid #ffff; 
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.74);
}

.body-contents{
    margin-top: 100px;
}

.nav-jtj{
    font-size: 17px;
}

.nav-jtj li:hover{
    transform: scale(1.05);
    transition-property: all;
    transition-duration: 0.2s;
    box-shadow: 4px 4px 8px lightslategray;
    border-radius: 5px;
    padding: 0px 3px 0px 3px;
}

.nav-jtj li a:hover{
    color: #fff;
}

.about{
    padding-bottom: 75px;
}

.nav-item{
    font-weight: 500;
    font-size: large;
}

#contact-h1{
    padding: 60px 0px 50px 0px;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
}

.card {
    margin-left: 10px;
    margin-right: 10px
}

.insta_icon{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.all-icons a:hover{
    transform: scale(1.2);
    transition-property: all;
    transition-duration: 0.3s;
}

.card-body{
    z-index: 0;
}